

@model List<CourseViewModel>

<h1>@ViewData["Title"]</h1> 


 @foreach(CourseViewModel course in Model)
 {
<div class="row">
    <div class="col-md-1">
        <img src="@course.ImagePath" width="32"/>
    </div>
    <div class="col-md-5">
        <h2>@course.Title </h2>
        <author>@course.Author</author>
    </div>
    <div class="col-md-2">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </div>
    <div class="col-md-2">
      EUR @course.CurrentPrice<br> <s>EUR @course.FullPrice</s>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Detail" asp-controller="Courses" asp-route-id="@course.Id">Dettaglio corso</a>
    </div>
</div>

}